
section.list ul.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    list-style: none;
    padding: 0;
}

section.list ul.description li {
    width: 100%;
    margin-top: 15px;
    max-width: 500px;
    background: #fff;    
    padding: 10px;
}

section.list ul li div h4 {
    margin: 0;
    padding: 0;
}


section.list ul.description li div.remover{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section.list ul.description li div.remover button:hover {
    transition: 0.2s;
    opacity: 0.7;
}

section header {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
}

section header div {
    margin: 0px -12px;
    padding: 0;
    outline: none;
    display: flex;
    justify-content: space-between;
}


section header div label {
    width: 100%;
    display: flex;
    align-items: center;
}

section header div button {
    background-color: green;
}

section header div button:hover {
    opacity: 0.7;
    transition: 0.2s;
}

section section.form {
    background-color: red;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 200px;
    right: 500px;
    display: none;
}

button.remover {
    background-color: #fff;
    border: 0;
    margin-top: -5px;
    color: red;
}




